In [ ]:
'''
Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.'''

# Question 1
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

In [ ]:
'''
Read the contents of the file test.txt into the variable test2. Is there a difference between test1 and test2?'''
# Question 2
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test1 == test2)  # Check if test1 and test2 are equal

In [ ]:
'''Create a CSV file called books.csv by using these lines:'''
import csv

lines = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", "1960"],
    ["Perdido Street Station", "China Mi√©ville", "2000"],
    ["Thud!", "Terry Pratchett", "2005"],
    ["The Spellman Files", "Lisa Lutz", "2007"],
    ["Small Gods", "Terry Pratchett", "1992"]
]

with open("books.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(lines)

In [ ]:
'''
Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these 
fields: title (text), author (text), and year (integer).'''
# Question 4
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE books
                  (title text, author text, year integer)''')

conn.commit()
conn.close()

In [ ]:
'''Read books.csv and insert its data into the book table.'''
# Question 5
import csv

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header row
    for row in reader:
        cursor.execute('INSERT INTO books VALUES (?,?,?)', row)

conn.commit()
conn.close()

In [ ]:
'''Select and print the title column from the book table in alphabetical order.'''
# Question 6
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()

for title in titles:
    print(title[0])

conn.close()

In [ ]:
'''From the book table, select and print all columns in the order of publication.'''
# Question 7
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM books ORDER BY year')
books = cursor.fetchall()

for book in books:
    print(book)

conn.close()

In [ ]:
'''Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.'''

# Question 8
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

In [ ]:
'''
Install the Redis server and the Python redis library (pip install redis) on your computer. 
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
Print all the fields for test.'''

# Question 9
import redis

r = redis.Redis()
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

fields = r.hgetall('test')
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

In [ ]:
'''Increment the count field of test and print it.'''

# Question 10
count = r.hincrby('test', 'count', 1)
print(count)